.vscode/**
.vscode-test/**
node_modules/**
src/**
out/**
!out/extension.js
media/icon-concepts/**
pnpm-lock.yaml
pnpm-workspace.yaml
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
*.vsix
*.tgz
近期开发节奏.md
